* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding: 3% 10%;
    background-color: rgb(97, 51, 51);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(37, 11, 11);
    border-radius: 15px 15px 0 0;
    padding: 16px;
    text-align: center;
}

/* MAIN STYLES */

main {
    background-color: rgb(92, 26, 26);
    flex: 1;
    padding: 3% 30%;
}

.line-container {
    display: flex;
}

.line-container > div {
    background-color: aliceblue;
    color: black;
    padding: 32px;
    font-size: 40px;
    font-weight: 300;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#zero, #clear {
    min-width: 50%;
}

.number:hover, #zero:hover {
    background-color: rgb(180, 180, 180);
}

.symbol:hover {
    background-color: rgb(178, 178, 255);
}

#result-line {
    text-align: right;
}

/* FOOTER STYLES */

footer {
    background-color: rgb(37, 11, 11);
    border-radius: 0 0 15px 15px;
    padding: 16px;
    text-align: center;
    align-items: flex-end;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}