* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px;
    text-align: center;
}

/* MAIN STYLES */

main {
    flex: 1;
    padding: 3% 30%;
}

.line-container {
    display: flex;
}

.line-container > div {
    background-color: aliceblue;
    color: black;
    padding: 32px;
    font-size: 30px;
    font-weight: 300;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#zero, #clear {
    min-width: 50%;
}

.number:hover, #zero:hover {
    background-color: rgb(180, 180, 180);
}

.symbol:hover {
    background-color: rgb(178, 178, 255);
}

#result-line {
    text-align: right;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}